body {
  font-family: Avenir, Optima, Helvetica;
  color: black;
  background-color: white;
}
.bodydark{
  background-color: black;
  color: white;
  font-family: Avenir, Optima, Helvetica;
}
#button {
  background-color: cyan;
  border: solid 0px;
  border-radius: 15px;
}
a {
  color: grey;
}